:root {
	--clr-main: rgb(220, 220, 245);
	--clr-constrast: rgb(141, 108, 251);

	--clr-menu-txt: rgb(0, 0, 0);
	--clr-menu-bg: rgb(255, 255, 255);
	--clr-sec-title: rgb(0,0,0);
	--clr-sec-txt: rgb(255, 255, 255);
	--clr-border: rgb(0,0,0);
}

$clr-main: var(--clr-main);
$clr-constrast: var(--clr-constrast);

$clr-menu-txt: var(--clr-menu-txt);
$clr-menu-bg: var(--clr-menu-bg);
$clr-sec-title: var(--clr-sec-title);
$clr-sec-txt: var(--clr-sec-txt);
$clr-border: var(--clr-border);