@import 'scss/values';

#feat-holder {
    height: 480px;

    #featured {
        $bg-color: rgba(0, 0, 0, .8);

        height: 100%;
        width: 100%;
        position: relative;
        border: 4px solid $clr-menu-bg;

        * {
            color: $clr-menu-txt;
        }

        .publish-date {
            position: absolute;
            background: $bg-color;
            top: 0;
            left: 0;
            z-index: 1;
            padding: 6px;
            border: solid $clr-menu-bg;
            border-width: 0 4px 4px 0;
        }

        .feat-bg {
            height: 100%;
            width: 100%;
            position: relative;
            overflow: hidden;

            img {
                max-width: 120%;
                min-height: 100%;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }


        }

        .feat-article {
            position: absolute;
            height: 100%;
            right: 0;
            top: 0;
            width: 40%;
            padding: 24px 16px;
            border-left: 4px solid $clr-menu-bg;
            background: $bg-color;


            .feat-title {
                width: 100%;
                margin-bottom: 8px;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
            }

            .feat-content-holder {
                position: relative;

                .feat-content {
                    width: 100%;
                    text-align: justify;
                }

                .feat-read {
                    position: absolute;
                    right: 0;
                    margin: 8px 0;
                    font-weight: bold;
                    text-decoration: none;
                    text-align: right;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .feat-selector {
                display: flex;
                justify-content: space-around;
                padding: inherit;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);


                label {
                    margin: 0 4px;

                    input {
                        display: none;

                        &:checked+.selector div {
                            display: block;

                        }
                    }

                    .selector {
                        $val-selec-size: 20px;

                        cursor: pointer;
                        border-radius: 50%;
                        border: 3px solid $clr-menu-txt;
                        width: $val-selec-size;
                        height: $val-selec-size;
                        padding: 2px;

                        div {
                            display: none;
                            width: 100%;
                            height: 100%;
                            background: $clr-menu-txt;
                            border-radius: inherit;
                        }
                    }
                }


            }

        }
    }
}