* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Calibri', sans-serif;
  outline-color: transparent;
}

.align {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

#nav-main {
  background: var(--clr-main);
  width: 100%;
  z-index: 10;
}

#nav-main .nav-menu {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-main .nav-menu .logo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* .logo {
                img {}
            }
            */
}

#nav-main .nav-menu .logo-items .menu-items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-main .nav-menu .logo-items .menu-items a,
#nav-main .nav-menu .logo-items .menu-items label {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: var(--clr-nav-item);
  text-transform: uppercase;
  font-size: 16px;
  margin-right: 16px;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-main .nav-menu .logo-items .menu-items a:hover, #nav-main .nav-menu .logo-items .menu-items a:focus,
#nav-main .nav-menu .logo-items .menu-items label:hover,
#nav-main .nav-menu .logo-items .menu-items label:focus {
  color: var(--clr-contrast);
}

#nav-main .nav-menu .logo-items .menu-items a li .menu-icon,
#nav-main .nav-menu .logo-items .menu-items label li .menu-icon {
  font-size: 16px;
  display: none;
}

#nav-main .nav-menu .logo-items .menu-items a li .menu-arrow,
#nav-main .nav-menu .logo-items .menu-items label li .menu-arrow {
  margin-left: 2px;
  -webkit-transition: -webkit-transform .15s ease;
  transition: -webkit-transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
}

#nav-main .nav-menu .search {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
  border: 2px solid var(--clr-nav-item);
  border-radius: 32px;
  padding: 8px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color .2s ease-in;
  transition: border-color .2s ease-in;
}

#nav-main .nav-menu .search:focus-within {
  border-color: var(--clr-contrast);
}

#nav-main .nav-menu .search input[type="text"] {
  width: 100%;
  margin-right: 4px;
  background: none;
  border: none;
  color: var(--clr-nav-item);
  outline-color: transparent;
  font-size: 16px;
}

#nav-main .nav-menu .search button[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
}

#nav-main .nav-menu .search button[type="submit"]:hover i, #nav-main .nav-menu .search button[type="submit"]:focus i {
  color: var(--clr-contrast);
}

#nav-main .nav-menu .search button[type="submit"] i {
  color: var(--clr-nav-item);
  font-size: 16px;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

#nav-main .nav-menu .user-buttons {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav-main .nav-menu .user-buttons a {
  text-decoration: none;
  color: var(--clr-nav-item);
  margin: 0 8px;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-main .nav-menu .user-buttons a:hover, #nav-main .nav-menu .user-buttons a:focus {
  color: var(--clr-contrast);
}

#nav-main .nav-menu .user-buttons a i {
  margin-right: 4px;
  font-size: 18px;
}

#nav-main .nav-menu .user-buttons a p {
  font-size: 18px;
}

#nav-main #show-cat {
  display: none;
}

#nav-main #show-cat:checked + .nav-menu .logo-items .menu-items .show-cat-label li .menu-arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

#nav-main .cat-holder {
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: height .4s ease-in-out;
  transition: height .4s ease-in-out;
  background-color: white;
}

#nav-main .cat-holder:after {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(white));
  background: linear-gradient(rgba(0, 0, 0, 0.2), white);
}

#nav-main .cat-holder .cat {
  padding: 32px 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
}

#nav-main .cat-holder .cat .cat-item {
  -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-main .cat-holder .cat .cat-item:focus-within figure img {
  height: 110%;
}

#nav-main .cat-holder .cat .cat-item figure {
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

#nav-main .cat-holder .cat .cat-item figure img {
  height: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transition: height .2s ease;
  transition: height .2s ease;
}

#nav-main .cat-holder .cat .cat-item figure img:hover {
  height: 110%;
}

#nav-main .cat-holder .cat .cat-item .cat-desc {
  width: 100%;
  right: 0;
  background-color: white;
  padding: 12px 16px;
  padding-left: 28px;
  border-radius: 8px;
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
}

#nav-main .cat-holder .cat .cat-item .cat-desc .cat-name {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

#nav-main .cat-holder .cat .cat-item .cat-desc .cat-name:hover, #nav-main .cat-holder .cat .cat-item .cat-desc .cat-name:focus {
  text-decoration: underline;
}

#nav-main .cat-holder .cat .cat-item .cat-desc .cat-recipes {
  margin-top: -2px;
  margin-bottom: 4px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  word-wrap: normal;
}
